<template>
  <div>
    <header id="header" class="mui-bar mui-bar-nav mui-bar-top">
      <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="mine.html"></a>-->
      <a class="mui-action-back mui-icon  mui-icon-search mui-pull-right"></a>
      <h1 class="mui-title">活动列表</h1>
    </header>
    <NavigationBar/>
    <div v-cloak class="mui-content Active-list-page">
      <section class="screening-module">
        <div class="retrie">
          <ul class="clearfix">
            <li id="Sort" @click="toggleUp(1)" :class="{up:isUp == 1}" href="#">综合排序</li>
            <li id="category" @click="toggleUp(2)" :class="{up:isUp == 2}" href="#">活动类别</li>
            <li id="screen" @click="toggleUp(3)" :class="{up:isUp == 3}" href="#">筛选</li>
          </ul>
        </div>
        <div class="Sort" :class="{'grade-w-roll':roll}">
          <ul class="slide downlist" v-show="isUp == 1">
            <li v-for="option in codes.sort">
              <a href="#" :class="{selected: query.sort === option.code}" @click="updateSort(option.code)">{{option.text}}</a>
            </li>
          </ul>
        </div>
        <div class="category" :class="{'grade-w-roll':roll}">
          <ul class="slide downlist" v-show="isUp == 2">
            <li v-for="option in codes.activityType">
              <a href="#" :class="{selected: query.filter.activityType === option.code}" @click="updateActivityType(option.code)">{{option.text}}</a>
            </li>
          </ul>
        </div>
        <div class="screen" :class="{'grade-w-roll':roll}">
          <ul class="slide downlist" v-show="isUp == 3">
            <li>
              <dl class="item-box clearfix">
                <dt>活动地点：</dt>
                <dd>
                  <a v-for="option in codes.activitySpot" :class="{selected: query.filter.activitySpot === option}" @click="updateQuery({activitySpot: option})">{{option}}</a>
                </dd>
              </dl>
            </li>
            <li>
              <dl class="item-box clearfix">
                <dt>活动时间：</dt>
                <dd>
                  <a v-for="option in codes.activityDate" :class="{selected: query.filter.activityDate === option.code}" @click="updateQuery({activityDate: option.code})">{{option.text}}</a>
                </dd>
              </dl>
            </li>
            <li>
              <dl class="item-box clearfix">
                <dt>活动状态：</dt>
                <dd>
                  <a v-for="option in codes.activityState" :class="{selected: query.filter.activityState === option.code}" @click="updateQuery({activityState: option.code})">{{option.text}}</a>
                </dd>
              </dl>
            </li>
            <li>
              <div class="item-box clearfix">
                <button type="button" class="mui-btn mui-btn-link" @click="clearFilter">
                  清空筛选
                </button>
                <div class="mui-btn mui-btn-danger pull-right" style="margin-right: 20px;" @click="confirm">
                  确定
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <div v-if="loading" style="margin-top:50px;padding:20px;text-align:center">
        <i class="fa fa-2x fa-spin fa-spinner"></i>
      </div>
      <ul v-if="!loading" class="mui-table-view ">
        <li class="mui-table-view-cell mui-media" v-for="item in items" v-show="item.show">
          <a href="#">
            <img class="mui-media-object mui-pull-left" src="../images/list01.png">
            <i v-bind:class="item.stateClass"></i>
            <div class="mui-media-body">
              <h4>{{item.title}}</h4>
              <div class="p">
								<span class="adr">
									<i class="fa fa-map-marker "></i> {{item.address}}
								</span>
                <span class="date">{{item.date}}</span>
              </div>
              <div class="p2">
								<span class="num">
									累计{{item.count}}人报名
								</span>
                <span class="price pull-right">
									{{item.price}}
								</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script type="text/babel">
  'use strict';

  import * as qs from 'qs';
  import * as config from '../scripts/config';
  import NavigationBar from './NavigationBar.vue';

  export default {
    components: {NavigationBar},
    data() {
      return {
        roll: false,
        isUp: 0,
        loading: false,
        items: [],
        query: {
          sort: "hotest",
          filter: {
            activityType: "all",
            activitySpot: "全部",
            activityDate: "all",
            activityState: "all"
          },
          pageIndex: 0,
          pageCount: 10
        },
        codes: config.codes
      };
    },
    mounted() {
      this.loadList();
    },
    watch: {
      'query.filter': {
        deep: true,
        handler(val, oldVal) {
        }
      }
    },
    methods: {
      loadList() {
        this.loading = true;
        this.items = [];
        this.$http.get('/api/activities?' + qs.stringify(this.query))
          .then(function(response) {
            this.loading = false;
            this.items = response.body;
          }.bind(this))
          .catch(function (e) {
            console.error('Failed to call activities api.', e);
            alert('无法获取数据');
          });
      },
      toggleUp(val) {
        if (this.isUp === val) {
          this.isUp = 0;
          this.roll = false
        } else {
          this.isUp = val;
          this.roll = true;
        }
      },
      updateSort(sort) {
        this.toggleUp(this.isUp);
        if (this.query.sort !== sort) {
          this.query.sort = sort;
          this.loadList();
        }
      },
      updateQuery(query) {
        if (query.activityType && query.activityType !== this.query.filter.activityType) {
          this.query.filter.activityType = query.activityType;
        }
        if (query.activitySpot && query.activitySpot !== this.query.filter.activitySpot) {
          this.query.filter.activitySpot = query.activitySpot;
        }
        if (query.activityDate && query.activityDate !== this.query.filter.activityDate) {
          this.query.filter.activityDate = query.activityDate;
        }
        if (query.activityState && query.activityState !== this.query.filter.activityState) {
          this.query.filter.activityState = query.activityState;
        }
      },
      updateActivityType(activityType) {
        this.toggleUp(this.isUp);
        this.updateQuery({activityType: activityType});
        this.loadList();
      },
      confirm() {
        this.toggleUp(this.isUp);
        this.loadList();
      },
      clearFilter() {
        this.toggleUp(this.isUp);
        this.updateQuery({
          activitySpot: '全部',
          activityDate: 'all',
          activityState: 'all'
        });
        this.loadList();
      }
    }
  }
</script>