<template>
  <div>
    <header id="header" class="mui-bar mui-bar-nav mui-bar-top">
      <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-right" href="mine.html"></a>-->
      <a class="mui-action-back mui-icon  mui-icon-search mui-pull-right" href="search.html">
      </a>
      <h1 class="mui-title">内容</h1>
    </header>
    <NavigationBar />
    <div class="mui-content content-list-page">
      <div class="wrapper wrapper04" id="sass">
        <div class="scroller">
          <ul class="clearfix">
            <li>
              <a href="javascript:void(0)">
                全部
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                亲子沟通
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                家教心得
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                亲子共读
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                心灵驿站
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                专家讲堂
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                家教案例
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                课件资源
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="mui-table-view ">
        <li class="mui-table-view-cell mui-media">
          <a href="content-detail.html">
            <img class="mui-media-object mui-pull-right" src="../images/list01.png">
            <div class="mui-media-body">
              <h4>
                <span class="mui-badge badge-link">亲子沟通</span>
                最国际+最美式+最新潮夏令营，游美上海营酷炫开营！</h4>
              <div class="p">
                <span class="date">2017-09-10</span>
                <span>广州市妇联</span>
                <span>
            <i class="fa fa-eye"></i>123 </span>
              </div>
            </div>
          </a>
        </li>
        <li class="mui-table-view-cell mui-media">
          <a href="javascript:;">
            <img class="mui-media-object mui-pull-right" src="../images/list01.png">
            <div class="mui-media-body">
              <h4>
                <span class="mui-badge badge-link">家教心得</span>
                最国际+最美式+最新潮夏令营，游美上海营酷炫开营！</h4>
              <div class="p">
                <span class="date">2017-09-10</span>
                <span>广州市妇联</span>
                <span>
            <i class="fa fa-eye"></i>123 </span>
              </div>
            </div>
          </a>
        </li>
        <li class="mui-table-view-cell mui-media">
          <a href="javascript:;">
            <img class="mui-media-object mui-pull-right" src="../images/list01.png">
            <div class="mui-media-body">
              <h4>
                <span class="mui-badge badge-link">亲子共读</span>
                最国际+最美式+最新潮夏令营，游美上海营酷炫开营！</h4>
              <div class="p">
                <span class="date">2017-09-10</span>
                <span>广州市妇联</span>
                <span>
            <i class="fa fa-eye"></i>123 </span>
              </div>
            </div>
          </a>
        </li>
        <li class="mui-table-view-cell mui-media">
          <a href="javascript:;">
            <img class="mui-media-object mui-pull-right" src="../images/list01.png">
            <div class="mui-media-body">
              <h4>
                <span class="mui-badge badge-link">心灵驿站</span>
                最国际+最美式+最新潮夏令营，游美上海营酷炫开营！</h4>
              <div class="p">
                <span class="date">2017-09-10</span>
                <span>广州市妇联</span>
                <span>
            <i class="fa fa-eye"></i>123 </span>
              </div>
            </div>
          </a>
        </li>
        <li class="mui-table-view-cell mui-media">
          <a href="javascript:;">
            <img class="mui-media-object mui-pull-right" src="../images/list01.png">
            <div class="mui-media-body">
              <h4>
                <span class="mui-badge badge-link">家教心得</span>
                最国际+最美式+最新潮夏令营，游美上海营酷炫开营！</h4>
              <div class="p">
                <span class="date">2017-09-10</span>
                <span>广州市妇联</span>
                <span>
            <i class="fa fa-eye"></i>123 </span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script type="text/babel">
  'use strict';

  import NavigationBar from './NavigationBar.vue';

  export default {
    components: {NavigationBar}
  }
</script>