<template>
  <div class="mui-content user-pages">
    <img  src="../images/wx-home-bg.png" />
    <section>
      <ul class="home-wx-list clearfix">
        <li>
          <router-link to="/activity-list">
            <div class="home-wx-img">
              <img src="../images/icon-link1.png" >
            </div>
            <span>家教活动</span>
          </router-link>
        </li>
        <li>
          <router-link to="/content-list">
            <div class="home-wx-img">
              <img src="../images/icon-link2.png">
            </div>
            <span>家教资讯</span>
          </router-link>
        </li>
        <li>
          <a href="#">
            <div class="home-wx-img">
              <img src="../images/icon-link3.png">
            </div>
            <span>家教咨询</span>
          </a>
        </li><li>
        <router-link to="/me">
          <div class="home-wx-img">
            <img src="../images/icon-link4.png" >
          </div>
          <span>个人中心</span>
        </router-link>
      </li>
      </ul>
    </section>
  </div>
</template>

<script type="text/babel">
  'use strict';

  export default {
  }
</script>