<template>
  <div class="login_bg">
    <div id="logo">
      <img src="../css/login/img/logo.png" alt="logo"/>
    </div>
    <form>
      <div class="userName">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" name="name" placeholder="手机号码" v-model="form.phone"/>
      </div>
      <div class="passWord">
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        <input type="password" name="password" placeholder="密码" v-model="form.password"/>
      </div>
      <div class="choose_box">
        <div>
          <label class="label-switch">
            <input type="checkbox">
            <div class="checkbox"></div>
          </label>
          记住密码
        </div>
        <a href="#">忘记密码？</a>
      </div>
      <button class="login_btn" type="button" @click="login" :disabled="submitting">登&nbsp;录</button>
      <a href="#" class="regBox_a">新用户注册</a>
    </form>
  </div>
</template>

<script type="text/babel">
  'use strict';

  export default {
    data () {
      return {
        form: {
          phone: '',
          password: ''
        },
        submitting: false
      }
    },
    methods: {
      login() {
        this.submitting = true;
        this.$http.post('/api/login', this.form)
          .then(function (response) {
            this.submitting = false;
            let result = response.body;
            if (result.success) {
              // success
              this.$router.push('/');
            } else {
              alert('用户名或密码错误');
            }
          }.bind(this))
          .catch(function (e) {
            this.submitting = false;
            console.error('Failed to call login api.', e);
            alert('登录失败');
          }.bind(this));
      }
    }
  }
</script>