<template>
  <div>
    <header id="header" class="mui-bar  mui-bar-transparent">
      <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" @click="logout">退出</button>
      <h1 class="mui-title">我的</h1>
    </header>
    <NavigationBar/>
    <div class="mui-content user-pages">
      <img id="img1" src="../images/h_top_bg.jpg"/>
      <div class="h-top">
        <a class="clearfix" href="#">
          <div class="pic pull-left">
            <img src="../images/touxiang.png"/>
          </div>
          <div class="mui-media">
            <p class="hname">小丸子</p>
            <p class="hm-tit">个人信息</p>
          </div>
          <i class="mui-icon mui-icon-arrowright pull-right"></i>
        </a>
      </div>
      <div class="cash">
        <div class="cash-tit clearfix">
          <em class="icon-order"></em>

          <span class="tit">我的活动</span>
          <span class="pull-right">
				查看全部活动
				<i class="mui-icon mui-icon-arrowright "></i></span>
        </div>
        <div class="cash-body">
          <ul class="clearfix">
            <li>
              <a>
                <img src="../images/ybm.png">
                <span>待参加</span>
              </a>
            </li>
            <li>
              <a>
                <img src="../images/yqx.png">
                <span>待评价</span>
              </a>
            </li>
            <li>
              <a>
                <img src="../images/pj.png">
                <span>已取消</span>
                <b class="mui-badge  mui-badge-danger tip-badge2">1</b>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="mui-table-view mrt10">
        <li class="mui-table-view-cell">
          <a class="mui-navigate-right" href="my_consultation.html">
            <em class="icon-wdzx"></em>
            <span class="tit">我的咨询</span>
          </a>
        </li>
        <li class="mui-table-view-cell">
          <a class="mui-navigate-right" href="my_collect.html">
            <em class="icon-collect"></em>
            <span class="tit">我的收藏</span>
          </a>
        </li>
      </ul>
      <ul class="mui-table-view mrt10">
        <li class="mui-table-view-cell">
          <a class="mui-navigate-right" href="my_suggestion.html">
            <em class="icon-suggestion"></em>
            <span class="tit">投诉建议（APP）</span>
          </a>
        </li>
        <li class="mui-table-view-cell">
          <a class="mui-navigate-right" href="my_FAQ.html">
            <em class="icon-faq"></em>
            <span class="tit">常见问题（APP）</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script type="text/babel">
  'use strict';

  import NavigationBar from './NavigationBar.vue';

  export default {
    components: {NavigationBar},
    methods: {
      logout() {
        this.$router.push('/login');
      }
    }
  }
</script>