<template>
  <nav v-cloak class="mui-bar mui-bar-tab">
    <router-link class="mui-tab-item" to="/">
      <i class="fa fa-home"></i>
      <span class="mui-tab-label">首页</span>
    </router-link>
    <router-link class="mui-tab-item" :class="{'mui-active': activityActive}" to="/activity-list">
      <i class="fa fa-paper-plane"></i>
      <span class="mui-tab-label">活动</span>
    </router-link>
    <router-link class="mui-tab-item" :class="{'mui-active': contentActive}" to="/content-list">
      <i class="fa fa-th-large"></i>
      <span class="mui-tab-label">内容</span>
    </router-link>
    <router-link class="mui-tab-item" :class="{'mui-active': meActive}" to="/me">
      <i class="fa fa-user"></i>
      <span class="mui-tab-label">我的</span>
    </router-link>
  </nav>
</template>

<script type="text/babel">
  'use strict';

  export default {
    computed: {
      activityActive () {
        return this.$route.path.startsWith('/activity-list');
      },
      contentActive () {
        return this.$route.path.startsWith('/content-list');
      },
      meActive () {
        return this.$route.path.startsWith('/me');
      }
    }
  }
</script>