@charset "utf-8";
/* CSS Document */
.clearfix::after, .clearfix::before {
	content: " ";
	display: table;
}
.clearfix::after {
	clear: both;
}
ul, li, dl, dd, dt {
	padding: 0;
	margin: 0;
	list-style: none;
}
a:hover{
	text-decoration: none;
}
.mui-bar a {
	color: #fff;
}
.mui-title {
	color: #fff;
}
.h-top {
	padding: 5%;
	position: absolute;
	width: 100%;
	top: 45px;
}
.h-top .pic {
	width: 25%;
}
.h-top .pic img {
	border-radius: 50%;
	border: 5px solid #fd9ba4;
}
.h-top .mui-media {
	color: #fff;
	font-size: 14px;
	padding-left: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 60%;
	margin-top: 18px;
}
.h-top .mui-media p {
	color: #fff;
	font-size: 12px;
}
.h-top .mui-media .hname {
	font-size: 18px;
}
.h-top i {
	color: #fff;
	top: -50px;
	position: relative
}
.cash {
	background: #fff;
	position: relative;
	top: -5px;
}
.cash-tit {
	padding: 10px;
	border-bottom: 1px solid #e8e8e8;
}
.cash-tit span.pull-right {
	color: #b9b9b9;
	font-size: 14px;
}
.cash-tit span .mui-icon {
	font-size: 16px;
}
.cash-body ul li {
	float: left;
	padding: 4% 0;
	text-align: center;
	width: 33.3333%;
}
.cash-body ul li a {
	color: #727071;
	position: relative;
}
.cash-body ul li a img {
	width: 20%;
}
.cash-body ul li a span {
	display: block;
	margin-top: 1px;
	width: 100%;
	font-size: 14px;
}
.mui-bar-top {
	background: #fb5867!important;
}
.mui-bar-white {
	background: #fcfcfc!important;
}
.mui-bar-white .mui-title, .mui-bar-white a {
	color: #333;
}
.mui-bar-transparent {
	background: transparent none repeat scroll 0 0;
	box-shadow: none;
	position: fixed;
	top: 0;
	width: 100%;
}
.mui-bar-transparent .mui-title {
	color: transparent;
}
#header.mui-active {
	background: #fb5867!important;
}
#header.mui-active .mui-title {
	color: #fff;
}
#header span.pull-right a {
	margin-right: 0px;
}
.mui-table-view::before, .mui-table-view::after, .mui-table-view-cell::after, .mui-input-group .mui-input-row::after {
	background: #e8e8e8;/*left: 0;*/
}
.mui-bar .mui-btn-link {
	color: #fff;
}
.mui-bar.mui-bar-white .mui-btn-link {
	color: #007aff;
}
.mui-input-row label {
	color: #777;
}
.mui-input-row label ~ input.yzm{
	width: 40%;
	float: left;
}
.mui-bar-tab .mui-tab-item {
	padding: 5px 0 2px;
}
.mui-bar-tab .mui-tab-item i {
	display: block;
	font-size: 20px;
}
.mui-bar-tab .mui-tab-item .mui-tab-label {
	font-size: 16px;
}
.mui-bar-tab .mui-tab-item.mui-active {
	color: #f62f4b
}
.mui-badge-default {
	color: #fff;
	background: #beb1a9;
}
.head-pic {
	margin-right: 25px;
}
.head-pic img {
	border-radius: 50%;
	border: 1px solid #ddd;
	height: 64px;
	vertical-align: middle;
	width: 64px;
}
.head-tit {
	color: #444;
	font-size: 16px;
	line-height: 25px;
	margin-top: 17px;
}
/*颜色，边距及图标*/
.green {
	color: #9ebd5d;
}
.red {
	color: #fb5867;
}
.mrt10 {
	margin-top: 10px;
}
.title-red {
	padding: 8px 15px 0;
	color: #fb5867;
	font-weight: bold;
	font-size: 14px;
}
hr {
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #ddd;
}
.more {
	font-size: 14px;
	color: #888;
}
.hq-btn{
	padding: 5px 8px!important;
	margin-right: 15px;
	margin-top: 5px;
}
.bq-tips{
	color: #fb5867;
	font-size: 14px;
}
.tip{
	padding: 15px;
	color: #555;
	font-size: 12px;
}
em {
	display: block;
	float: left;
	height: 25px;
	width: 12%;
}
.icon-order, .icon-wdzx, .icon-collect, .icon-suggestion, .icon-faq {
	background: url(../images/icon.png) no-repeat center center;
}
.icon-order {
	background-position: -8px -11px;
}
.icon-wdzx {
	background-position: -60px -11px;
}
.icon-collect {
	background-position: -110px -11px;
}
.icon-suggestion {
	background-position: -160px -11px;
}
.icon-faq {
	background-position: -210px -11px;
}
.cash-tit .tit, .mui-table-view-cell span.tit {
	font-size: 16px;
	color: #444;
	line-height: 25px;
}
/*常见问题页面*/
.FAQ-page .mui-search {
	margin: 15px 15px 0;
}
.FAQ-page .mui-search input[type="search"] {
	background: #fff;
}
.title-gray {
	color: #6d6d72;
	font-size: 15px;
	margin: 10px 15px 7px;
}
.FAQ-page .mui-navigate-right {
	font-size: 15px;
}
/*咨询页面*/
.banner {
	background: #fff;
}
.banner img {
	margin: 0;
	padding: 0;
	width: 100%;
}
.wyzx-btn {
	position: absolute;
	right: 25px;
	top: 8%;
}
.wyzx-btn .btn {
	font-size: 18px;
}
.mui-btn-danger, .mui-btn-negative, .mui-btn-red {
	background-color: #fb5867;
	border: 1px solid #fb5867;
}
.buttons-tab {
	background: #fff;
}
.notice .content-block, .notice .content-block .list-block {
	margin: 0;
	padding: 0;
}
.content-block .mui-table-cell h4 {
	font-weight: normal;
	line-height: 28px;
	font-size: 17px;
}
.consult-page {
	top: 2.2rem;
}
.badge-link {
	border: 1px solid #fb5867;
	color: #fb5867!important;
	background: transparent;
	margin-right: 15px;
}
.date {
	font-size: 14px;
	color: #c0c0c0;
}
.buttons-tab .button.active {
	color: #fb5867;
	border-color: #fb5867;
}
.item-inner .item-title, .item-inner .item-subtitle {
	margin-bottom: 5px;
}
.list-block .item-link .item-inner {
	background: transparent;
}
.agree {
	margin: 15px 30px;
	text-align: left;
}
.agree, .agree a {
	color: #777;
	font-size: 14px;
}
.agree input {
	float: left;
}
.agree div {
	margin-left: 20px;
	position: relative;
	top: -3px;
}
.mui-table-view-cell a input {
	border: 0 none;
	margin-bottom: 0;
	margin-left: 10%;
	padding: 0;
	width: 70%;
	height: auto;
}
.list-block {
	margin: 0.75rem 0;
}
.list-block .item-title.label {
	width: 25%;
}
.textarea-white {
	background: #fff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
.orders .content-block, .orders .content-block .list-block {
	padding: 0;
	margin: 0;
}
.list-boxs .mui-table-view-cell {
	padding: 15px;
}
.mui-table-view .mui-media-object {
	height: 80px;
	max-width: 80px;
	width: 80px;
}
.mui-table-view .mui-media-object.mui-pull-right {
	height: 64px;
	max-width: 64px;
	width: 64px;
}
.mui-media-body h4 {
	font-size: 15px;
	font-weight: normal;
	color: #333;
	white-space: normal;
	line-height: 20px;
	margin: 0px 0px 5px;
}
.mui-media-body h4 .badge-link{
	margin-right: 3px;
}
.mui-media-body .p .adr, .mui-media-body .p .date, .mui-media-body .p span {
	font-size: 12px;
	color: #a5a5a5;
	margin-right: 20px;
}
.mui-media-body .p2 .num, .mui-media-body .p3 .num {
	float: left;
	color: #a5a5a5;
	font-size: 11px;
	margin-top: 5px;
}
.mui-media-body .p2 .price {
	color: #f62f4b;
	float: right;
}
.mui-media-body .p2 .stated {
	color: red;
	float: left;
	font-size: 14px;
}
.mui-media-body .p3 {
	margin-top: 15px;
}
.mui-segmented-control{
	font-size: 16px;
}
.img-state-star, .img-state-end, .img-state-close, .img-state-notbegin, .img-state-ongoing{
	background: url(../images/icon2.png) no-repeat;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 15px;
	left: 15px;
}
.img-state-star {
	background-position: 0 0;
}
.img-state-end {
	background-position: 0 -50px;
}
.img-state-notbegin {
	background-position: 0 -100px;
}
.img-state-close{
	background-position: 0 -150px;
}
.img-state-ongoing{
	background-position: 0 -200px;
}
.mui-btn-outlined {
	background-color: transparent;
	color: #fb5867!important;
}
.p2 .mui-btn-outlined {
	position: absolute;
	right: 17px;
	top: 71px;
}
.mui-badge-danger {
	background-color: #fb5867;
}
.tip-badge {
	position: absolute;
	top: 0;
}
.tip-badge2 {
	position: absolute;
	top: -15px;
	right: -17px;
}
/*个人中心*/

.personal-page .mui-card .mui-table-view-cell .tit {
	width: 25%;
	color: #999;
	float: left;
	font-size: 15px;
}
.personal-page .mui-card .mui-table-view-cell a input {
	width: 65%;
	float: right;
	font-size: 15px;
	line-height: 25px;
	/*text-align: right;
	padding-right: 30px;*/
}
.interest_tags_box {
	padding: 10px 10px 5px;
}
.interest_tag {
	background: #ededed;
	float: left;
	padding: 5px 10px;
	margin: 0 5px 5px 0;
}
.interest_tag i {
	margin-left: 10px;
}
.personal-page.content {
	top: 50px;
}
/*微信首页*/
.home-wx-list {
	padding: 5px;
}
.home-wx-list li {
	display: inline-block;
	float: left;
	text-align: center;
	width: 50%;
}
.home-wx-list li a {
	background: #fcfcfc;
	border-radius: 8px;
	color: #666;
	display: block;
	margin: 5px;
}
.home-wx-list li a img {
	display: block;
	width: 100%;
}
.home-wx-list li a span {
	text-align: center;
	font-size: 16px;
	padding-bottom: 15px;
	display: block;
}
.home-wx-img {
	margin: 0 40px;
	padding: 15px 0;
	text-align: center;
}
.content-padded {
	padding: 15px;
	background: #fff;
}
.content-padded h4 {
	font-size: 18px;
	font-weight: normal;
	padding: 15px 0;
	border-bottom: 1px solid #f3f3f3;
}
.content-padded .cont-box {
	padding: 10px 0;
}
/*咨询*/
.zx-ques-box h4, .zx-answer-box h4 {
	color: #333;
	font-size: 16px;
	font-weight: 600;
	border: none;
	padding: 8px 0;
}
.zx-ques-box, .zx-answer-box {
	margin: 15px 0;
}
.catalog-content {
	color: #666;
	font-size: 14px;
	line-height: 24px;
	margin: 10px 0;
}
.txt-date {
	color: #999;
	font-size: 12px;
}
/*筛选*/
section.screening-module {
	background: #fff;
	width: 100%;
	z-index: 22;
	position: fixed;
}
.retrie {
	background-color: #fff;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	height: 50px;
	width: 100%;
	position: fixed;
	z-index: 102;
}
.retrie ul {
	overflow: hidden;
}
.retrie ul li {
	color: #333;
	float: left;
	font-size: 16px;
	height: 49px;
	line-height: 50px;
	position: relative;
	text-align: center;
	width: 33.3%;
}
.retrie ul li::after {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #666;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 0 0;
	content: " ";
	height: 5px;
	width: 5px;
	left: 50%;
	margin-left: 35px;
	margin-top: -5px;
	position: absolute;
	top: 50%;
	transform: rotate(135deg);
}
.retrie li.up {
	border-bottom: 2px solid #fb5867;
	color: #fb5867;
}
.retrie li.up::after {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #fb5867;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 0 0;
	margin-top: 0;
	transform: rotate(-45deg);
}
.Sort, .category, .screen {
	background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
	content: "";
	display: block;
	height: 100%;
	position: relative;
	top: 0;
	width: 100%;
}
.slide {
	background-color: #fff;
	left: 0;
	overflow-y: auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 104;
}
.slide li {
	border-bottom: 1px solid #eee;
	display: block;
}
.slide li a {
	background-color: transparent;
	display: block;
	font-size: 14px;
	padding: 10px 30px;
	color: #666;
}

.slide li a:hover, .slide li a.selected {
	background-color: #f6f6f6;
}
.slide li a.select {
	background-color: #fff;
}
.grade-w-roll {
	top: 50px;
}
.grade-w-roll::after {
	background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
	content: "";
	display: block;
	height: 100%;
	position: fixed;
	top: 50px;
	width: 100%;
}
.Active-list-page .mui-table-view {
	margin-top: 50px;
}
.Active-list-page .mui-table-view .mui-table-view-cell, .content-list-page .mui-table-view .mui-table-view-cell {
	padding: 15px;
}
.slide li .item-box {
	padding: 8px;
}
.slide li .item-box dt {
	width: 90px;
	float: left;
	padding: 10px 6px;
	font-size: 14px;
}
.slide li .item-box dd {
	margin-left: 90px;
}
.slide li .item-box dd a {
	float: left;
	padding: 10px;
}
/*活动详细页*/
.btn-circle {
	width: 44px;
	border-radius: 50%;
	background: #fd5162;
	text-align: center;
	opacity: 0.85;
}
.activity-detail-title {
	background: #fff;
	padding: 15px 10px;
	margin-top: -5px;
	border-bottom: 1px solid #e6e6e6;
}
.activity-detail-title h4 {
	font-weight: normal;
	font-size: 18px;
	color: #000;
}
.activity-detail-title .tip {
	width: 100%;
}
.activity-detail-title .tip span {
	width: 32%;
	font-size: 14px;
	color: #999;
	display: inline-block;
}
.activity-detail-title .tip span.stated {
	color: #fe5162;
	text-align: center;
}
.activity-detail-title .tip span.price {
	color: #fe5162;
	font-size: 16px;
	text-align: center;
}
.tit2 {
	color: #959595;
	font-size: 14px;
}
.activity-detail-tab {
	margin-top: 10px;
	border-top: 1px solid #e6e6e6;
	background: #fff;
}
.activity-detail-tab .tabs {
	padding: 10px;
	background: #fff;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
	border-bottom: 1px solid #e6e6e6;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	color: #fb5867;
	border-bottom: 2px solid #fb5867;
	font-weight: bold;
}
.activity-detail-tab .cont-p {
	padding: 8px 8px 0;
}
.activity-detail-tab .cont-p p {
	margin-bottom: 8px;
}
.mui-bar-tab .mui-tab-item.share-btn {
	width: 40%;
}
.mui-bar-tab .mui-tab-item.submit-btn {
	width: 60%;
	background-color: #fc5968;
	color: #fff;
}
.mui-bar-tab .mui-tab-item.share-btn i, .mui-bar-tab .mui-tab-item.submit-btn i {
	display: inline-block;
}

.icon-Azbf{
	background: url(../images/A-zbf.jpg ) no-repeat center center;
}
.icon-Atimes{
	background: url(../images/A-times.jpg) no-repeat center center;
}
.icon-Aadr{
	background:  url(../images/A-adr.jpg) no-repeat center center;
}
.icon-Aadr, .icon-Atimes , .icon-Azbf{
	width: 24px;
	background-size: contain;
	margin-right: 8px;
}


/*内容详细页*/
.con-detail-title {
	font-size: 22px;
	line-height: 32px;
	padding: 15px 25px 5px;
	color: #333;
}
.bg-white {
	background: #fff;
}
.content-detail-page .cont-div {
	padding: 10px 25px;
}
.content-detail-page .cont-div p {
	color: #555;
}
.content-detail-page .cont-div strong {
	color: #333;
	font-size: 14px;
}
.tip-box {
	font-size: 12px;
	font-weight: normal;
	margin: 5px 25px 10px;
	padding-bottom: 10px;
	color: #999;
}
.tip-box span {
	margin-right: 30px;
}
.content-detail-page .end {
	margin: 10px 50px 25px;
	padding-top: 25px;
	text-align: center;
	color: #999;
	border-top: 1px solid #f1f1f1;
}
.content-detail-page .cont-footer {
	padding: 15px 8px;
	border-top: 1px solid #f1f1f1;
}
.content-detail-page .cont-footer .txt {
	border-left: 5px solid #29303a;
	color: #29303a;
	text-indent: 0.5em;
	float: left;
	margin-right: 20px;
}
.content-detail-page .mui-card {
	margin: 10px 0px 0px;
}
.content-detail-page .mui-card-header::after {
	background-color: #f1f1f1;
}
.content-detail-page .mui-card-content-inner {
	padding: 0;
}
.mui-table-view.mui-grid-view {
	margin-bottom: 15px;
}
.content-detail-page .mui-table-view-cell > a:not(.mui-btn) {
	white-space: normal;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
	height: 40px;
	text-align: left;
	line-height: 20px;
	color: #555;
}
.content-detail-page .mui-card-header {
	padding: 10px 8px;
}
.content-detail-page .mui-card-header .txt {
	border-left: 5px solid #29303a;
	color: #29303a;
	text-indent: 0.5em;
}
/*分享*/
.share-box {
}
.share-box li {
	float: left;
	margin-right: 20px;
}
.share-box li a {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding: 5px;
	color: #fff;
}
.weixin {
	background: #07b59c;
}
.qq {
	background: #e86c6a;
}
.weibo {
	background: #ffc253;
}
/*滑动导航*/
.wrap {
	min-width: 320px;
	max-width: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.wrapper04 {
	position: relative;
	height: 1.25rem;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	background: #fff;
}
.wrapper04 .scroller {
	position: absolute
}
.wrapper04 .scroller li {
	height: 1.25rem;
	color: #333;
	float: left;
	line-height: 1.25rem;
	font-size: .42rem;
	text-align: center
}
.wrapper04 .scroller li a {
	color: #333;
	display: block;
	margin: 0 .3rem
}
.wrapper04 .scroller li.cur {
	color: #fb5867;
	border-bottom: 2px solid #fb5867;
	font-weight: 600;
}
.wrapper04 .scroller li.cur a {
	color: #fb5867;
}
/*报名*/
.goods-item {
	background-color: #fc5969;
	color: #fff;
	padding: 15px;
}
.goods-item h4 {
	font-weight: 500;
	padding-bottom: 5px;
}
.goods-item span {
	display: block;
	font-size: 12px;
	margin-top: 5px;
}
.goods-item-box .mui-input-row label {
	font-size: 14px;
}
.goods-item-box .title-red {
	margin-bottom: 10px;
}
.goods-item-box textarea {
	margin-bottom: 0;
}
.goods-item-box .tips {
	background-color: #fff;
	padding: 15px;
}
.goods-item-box .tips li {
	font-size: 14px;
	list-style-type: disc;
	color: #666;
	margin-left: 15px;
}
.goods-item-box textarea{
	font-size: 14px;
	color: #555 ;
}
.goods-item-box-white{
	background-color: #fff;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}

.goods-item-box-white .title-red{
	padding-top: 20px;
	margin-bottom: 8px;
}
.goods-item-box-white p{
	margin: 0;
	padding: 3px 15px 0px;
	font-size: 12px;
	color: #666;
}

.goods-item-box-white .tips {
	background-color: #fff;
	padding:3px  15px;
}
.goods-item-box-white .tips li {
	font-size: 12px;
	list-style-type: disc;
	color: #666;
	margin-left: 15px;
}
.goods-item-box-white .star{
	padding:3px 15px;
}
/*加减*/
.gw_num {
	float: right;
	margin-right: 20px;
	padding: 6px 0px;
}

.gw_num em {
	display: block;
	height: 26px;
	width: 26px;
	float: left;
	color: #7A7979;
	text-align: center;
	cursor: pointer;
	font-size: 13px;
	line-height: 26px;
}
.gw_num .num {
	display: block;
	float: left;
	text-align: center;
	width: 36px;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	border: 0;
}
.gw_num em.jian{
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #ebebea;
	color: #ebebea;
}
.gw_num em.add {
	float: right;
	background-color: #ffa541;
	border-radius: 50%;
	color: #fff;
	
	
}
.gw_num input[type="text"]{
	padding: 0;
	height: 26px;
}

[v-cloak] {
  display: none;
}