<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">
  <title></title>
  <link type="text/css" rel="stylesheet" href="../dist/styles/style.css" >
</head>

<body>

<div id="app"></div>

<script src="../dist/common.vendor.js"></script>
<script src="../dist/spa.js"></script>

</body>
</html>
