<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>活动列表</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="css/mui.min.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
</head>

<body>
<header id="header" class="mui-bar mui-bar-nav mui-bar-top">
  <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="mine.html"></a>-->
  <a class="mui-action-back mui-icon  mui-icon-search mui-pull-right"></a>
  <h1 class="mui-title">活动列表</h1>
</header>
<nav class="mui-bar mui-bar-tab">
  <a class="mui-tab-item" onclick="javascript:window.location.href='home-wx.html'">
    <i class="fa fa-home"></i>
    <span class="mui-tab-label">首页</span>
  </a>
  <a class="mui-tab-item mui-active" onclick="javascript:window.location.href='Active-list.html '">
    <i class="fa fa-paper-plane"></i>
    <span class="mui-tab-label">活动</span>
  </a>
  <a class="mui-tab-item" onclick="javascript:window.location.href='content-list.html '">
    <i class="fa fa-th-large"></i>
    <span class="mui-tab-label">内容</span>
  </a>
  <a class="mui-tab-item " onclick="javascript:window.location.href='mine.html '">
    <i class="fa fa-user"></i>
    <span class="mui-tab-label">我的</span>
  </a>
</nav>
<div v-cloak class="mui-content Active-list-page" id="content-data">
  <section class="screening-module">
    <div class="retrie">
      <ul class="clearfix">
        <li id="Sort" @click="toggleUp(1)" :class="{up:isUp == 1}" href="#">综合排序</li>
        <li id="category" @click="toggleUp(2)" :class="{up:isUp == 2}" href="#">活动类别</li>
        <li id="screen" @click="toggleUp(3)" :class="{up:isUp == 3}" href="#">筛选</li>
      </ul>
    </div>
    <div class="Sort" :class="{'grade-w-roll':roll}">
      <ul class="slide downlist" v-show="isUp == 1">
        <li v-for="option in codes.sort">
          <a href="#" :class="{selected: query.sort === option.code}" @click="updateSort(option.code)">{{option.text}}</a>
        </li>
      </ul>
    </div>
    <div class="category" :class="{'grade-w-roll':roll}">
      <ul class="slide downlist" v-show="isUp == 2">
        <li v-for="option in codes.activityType">
          <a href="#" :class="{selected: query.filter.activityType === option.code}" @click="updateActivityType(option.code)">{{option.text}}</a>
        </li>
      </ul>
    </div>
    <div class="screen" :class="{'grade-w-roll':roll}">
      <ul class="slide downlist" v-show="isUp == 3">
        <li>
          <dl class="item-box clearfix">
            <dt>活动地点：</dt>
            <dd>
              <a v-for="option in codes.activitySpot" :class="{selected: query.filter.activitySpot === option}" @click="updateQuery({activitySpot: option})">{{option}}</a>
            </dd>
          </dl>
        </li>
        <li>
          <dl class="item-box clearfix">
            <dt>活动时间：</dt>
            <dd>
              <a v-for="option in codes.activityDate" :class="{selected: query.filter.activityDate === option.code}" @click="updateQuery({activityDate: option.code})">{{option.text}}</a>
            </dd>
          </dl>
        </li>
        <li>
          <dl class="item-box clearfix">
            <dt>活动状态：</dt>
            <dd>
              <a v-for="option in codes.activityState" :class="{selected: query.filter.activityState === option.code}" @click="updateQuery({activityState: option.code})">{{option.text}}</a>
            </dd>
          </dl>
        </li>
        <li>
          <div class="item-box clearfix">
            <button type="button" class="mui-btn mui-btn-link" @click="clearFilter">
              清空筛选
            </button>
            <div class="mui-btn mui-btn-danger pull-right" style="margin-right: 20px;" @click="confirm">
              确定
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <div v-if="loading" style="margin-top:50px;padding:20px;text-align:center">
    <i class="fa fa-2x fa-spin fa-spinner"></i>
  </div>
  <ul v-if="!loading" class="mui-table-view ">
    <li class="mui-table-view-cell mui-media" v-for="item in items" v-show="item.show">
      <a onclick="javascript:window.location.href='active-detail(begin).html '">
        <img class="mui-media-object mui-pull-left" src="images/list01.png">
        <i v-bind:class="item.stateClass"></i>
        <div class="mui-media-body">
          <h4>{{item.title}}</h4>
          <div class="p">
								<span class="adr">
									<i class="fa fa-map-marker "></i> {{item.address}}
								</span>
            <span class="date">{{item.date}}</span>
          </div>
          <div class="p2">
								<span class="num">
									累计{{item.count}}人报名
								</span>
            <span class="price pull-right">
									{{item.price}}
								</span>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
<script src="js/vue.js"></script>
<script src="js/config.js"></script>
<script>

  function select(items) {
    return items[Math.floor(Math.random() * items.length)];
  }
  var server = {
    getList1: function (query, callback) {
      var list = [];
      for (var i = 0; i < 20; i++) {
        var state = select(config.codes.activityState);
        list.push({
          title: "最国际+最美式+最新潮夏令营，游美上海营酷炫开营！",
          type: select(config.codes.activityType.slice(1).map(function (type) {
            return type.code;
          })),
          date: select(["2017-09-10", "2017-09-11", "2017-09-12", "2017-09-13", "2017-09-14"]),
          dateType: select(config.codes.activityDate.slice(1).map(function (date) {
            return date.code;
          })),
          price: "免费",
          address: select(config.codes.activitySpot.slice(1)),
          count: select([3, 4, 5, 6, 7, 8, 9]),
          stateClass: state.className,
          stateCn: state.text,
          state: state.code,
          show: true
        });
      }
      list = list.filter(function (item) {
        var result = true;
        var filter = query.filter;
        if (filter.activityType && filter.activityType !== 'all') {
          result &= item.type === filter.activityType;
        }
        if (filter.activitySpot && filter.activitySpot !== '全部') {
          result &= item.address === filter.activitySpot;
        }
        if (filter.activityDate && filter.activityDate !== 'all') {
          result &= item.dateType === filter.activityDate;
        }
        if (filter.activityState && filter.activityState !== 'all') {
          result &= item.state === filter.activityState;
        }
        return result;
      });
      if (query.sort && query.sort !== 'all') {
        list = list.sort(function (item1, item2) {
          if (query.sort === 'hotest') {
            return item2.count - item1.count;
          } else if (query.sort === 'latest') {
            return item2.date - item1.date;
          } else if (query.sort === 'nearest') {
            return item1.address - item2.address;
          }
        });
      }
      setTimeout(function () {
        callback(list);
      }, 1000);
    }
  };
  Vue.prototype.server = server;
  var vm = new Vue({
    el: "#content-data",
    data: {
      roll: false,
      isUp: 0,
      loading: false,
      items: [],
      query: {
        sort: "hotest",
        filter: {
          activityType: "all",
          activitySpot: "全部",
          activityDate: "all",
          activityState: "all"
        },
        pageIndex: 0,
        pageCount: 10
      },
      codes: config.codes
    },
    mounted: function () {
      this.loadList();
    },
    watch: {
      'query.filter': {
        deep: true,
        handler: function (val, oldVal) {
        }
      }
    },
    methods: {
      loadList() {
        this.loading = true;
        this.items = [];
        this.server.getList1(this.query, function (items) {
          this.loading = false;
          this.items = items;
        }.bind(this));
      },
      toggleUp: function (val) {
        if (this.isUp === val) {
          this.isUp = 0;
          this.roll = false
        } else {
          this.isUp = val;
          this.roll = true;
        }
      },
      updateSort: function (sort) {
        this.toggleUp(this.isUp);
        if (this.query.sort !== sort) {
          this.query.sort = sort;
          this.loadList();
        }
      },
      updateQuery: function (query) {
        var reload = false;
        if (query.activityType && query.activityType !== this.query.filter.activityType) {
          reload = true;
          this.query.filter.activityType = query.activityType;
        }
        if (query.activitySpot && query.activitySpot !== this.query.filter.activitySpot) {
          reload = true;
          this.query.filter.activitySpot = query.activitySpot;
        }
        if (query.activityDate && query.activityDate !== this.query.filter.activityDate) {
          reload = true;
          this.query.filter.activityDate = query.activityDate;
        }
        if (query.activityState && query.activityState !== this.query.filter.activityState) {
          reload = true;
          this.query.filter.activityState = query.activityState;
        }
      },
      updateActivityType: function (activityType) {
        this.toggleUp(this.isUp);
        this.updateQuery({activityType: activityType});
        this.loadList();
      },
      confirm: function () {
        this.toggleUp(this.isUp);
        this.loadList();
      },
      clearFilter: function () {
        this.toggleUp(this.isUp);
        this.updateQuery({
          activitySpot: '全部',
          activityDate: 'all',
          activityState: 'all'
        });
        this.loadList();
      }
    }
  });
</script>
</body>
</html>