<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>报名</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="css/mui.min.css">
<link rel="stylesheet" href="css/common.css" >
<link rel="stylesheet" href="css/font-awesome.min.css" >
</head>

<body>
<header id="header" class="mui-bar mui-bar-nav mui-bar-white">
  <a class="mui-icon mui-icon-left-nav mui-pull-left" 
				href="active-detail.html">
  </a>
 
  <h1 class="mui-title">我要报名</h1>
</header>
<nav class="mui-bar mui-bar-tab" id="nav-data">
  <a class="mui-tab-item share-btn ">
   合计：<big class="red">{{total}} 元</big>
  </a>
  <a class="mui-tab-item submit-btn"  id="toastBtn">
    <span class="mui-tab-label">确定</span>
  </a>
  
</nav>
<div class="mui-content" id="content-data">
  <div class="goods-item">
  	 <h4>暑假亲子新玩法，我和动物有个约会</h4>
  	 <span >9月19日    13:30 至 15:30</span>
  	 <span >广州动物园</span>
  </div>
  <div class="goods-item-box">
  <div class="title-red">参加人数</div>
 <form class="mui-input-group ">
						<div class="mui-input-row ">
							<label>儿童</label>
							<div class="gw_num">
								<em class="jian" v-on:click="setChildNum">
									<i class="fa fa-minus"></i>
								</em>
								<input type="text" v-model="signUp.childNum" class="num" readonly="true"/>
								<em class="add" v-on:click="setChildNum">
									<i class="fa fa-plus"></i>
								</em>
		</div>
						</div>
						<div class="mui-input-row">
							<label>成人</label>
						<div class="gw_num">
								<em class="jian" v-on:click="setAdultNum"><i class="fa fa-minus"></i></em>
							    <input type="text" v-model="signUp.adultNum" class="num" readonly="true"/>
								<em class="add" v-on:click="setAdultNum"><i class="fa fa-plus"></i></em>
									
		</div>
						</div>
					</form>
  </div>
  <div class="goods-item-box">
  <div class="title-red">备注</div>
  <textarea v-model="signUp.note"></textarea>
  </div>
    <div class="goods-item-box " >
        <div class="title-red">联系人信息</div>
        <ul class="mui-table-view  tips">

            <li class="mui-table-view-cell">
                <a>
                    <span class="title">联系人</span>
                    <input class="mui-icon-clear" placeholder="" data-input-clear="5" type="text" v-model="signUp.name">
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a>
                    <span class="title">手机号码</span>
                    <input class="mui-icon-clear" placeholder="" data-input-clear="5" type="text" v-model="signUp.tel">
                </a>
            </li>
        </ul>
    </div>
  <div class="goods-item-box">
   <div class="title-red">报名须知</div>
   <ul class="tips">
   	<li>报名时需要备注宝贝姓名+宝贝年龄</li>
   	<li>取消报名需提前一天联系主办方</li>
   </ul>
	</div>
   
</div>

<script src="js/mui.min.js"></script>
<script type="text/javascript" src="js/navscroll/jquery.min.js" ></script>
<script src="js/vue.js"></script>
<script>
    document.getElementById("toastBtn").addEventListener('tap', function() {
        mui.toast('您已报名成功！请注意接收手机短信或电话通知。');
    });
    var vm = new Vue({
        el:'#content-data',
        data:{
            signUp:{
                childNum:0,
                adultNum:0,
                note:'',
                name:'',
                tel:''
            }
        },
        methods:{
            setChildNum:function(event){
                if(event.target.getAttribute('class').indexOf('add') >= 0 || event.target.getAttribute('class').indexOf('fa-plus') >= 0){
                    this.signUp.childNum += 1;
                }else{
                    this.signUp.childNum -= 1;
                }
            },
            setAdultNum:function(event){
                if(event.target.getAttribute('class').indexOf('add') >= 0 || event.target.getAttribute('class').indexOf('fa-plus') >= 0){
                    this.signUp.adultNum += 1;
                }else{
                    this.signUp.adultNum -= 1;
                }
            }
        }
    });
    var vm1 = new Vue({
        el:'#nav-data',
        computed:{
            total:function(){
                if(vm.signUp.adultNum < 0 || vm.signUp.childNum < 0)
                    return 0;
                return vm.signUp.adultNum*50 + vm.signUp.childNum*20;
            }
        }
    });
</script>
</body>
</html>