@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

body{
    font-size: 1em;
    font-family: "Microsoft YaHei";
    color: #535353;
    box-sizing: border-box;
}
body, ul, li{
    margin: 0;
    padding: 0;
	list-style: none;
}
a{
    text-decoration: none;
    color:#374782;
}
input{
    outline: none;
}

/*登录页*/

.login_bg, .register_bg{
    width:100%;
    min-height: 100%;
    text-align: center;
    background:url(img/login_bg.jpg) no-repeat center center;
	background-size: cover;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
}
#logo{
    margin: 9% auto 3%;
    width: 30.25%;
}

img{
    width: 100%;
}
form{
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
form div.userName, form div.passWord{
    padding:3.5% 0 4% 3%;
    background: #fff;
	opacity:0.65;
	border-radius: 0.1em;
}
form div.userName{
	margin-bottom: 1em;
}
form div.userName .fa, form div.passWord .fa{
	color: #777;
}
form div.userName input,form div.passWord input{
  /*  width: 68%;*/
    height: 26px;
    border:none;
    background: transparent;
    font-size: 1em;
    font-family: "Microsoft YaHei";
    color: #333;
    letter-spacing: 1px;
    padding-left: 5px;
  margin: 0;
  width: auto;
}
.choose_box{
    line-height: 4em;
}
.choose_box div{
    float: left;
	color: #fff;
}
.choose_box a{
    float: right;
	color: #fff;
}
.login_btn, .register_btn{
    width: 100%;
    display: block;
    padding: 4% 0 ;
    background: #fc680f;
    border: 0;
    font-size: 1.2em;
    font-family: "Microsoft YaHei";
    color:#fff;
  /*  -webkit-box-shadow: #8f9bad 0px 0px 20px;
    -moz-box-shadow: #8f9bad 0px 0px 20px;
    box-shadow: #fd833a 0px 0px 20px;*/
    text-align: center;
	margin-top: 20px;
}
.other_login{
    width: 80%;
    height: 15px;
    position: absolute;
    top:75%;
    margin: 0 10%;
}
.other_login .other,.other_login span{
    display: inline-block;
    vertical-align: middle;
}
.other_login .other{
    width: 28%;
    height: 8px;
    border-bottom:1px solid #2f2c59;
}
.other_login span{
    width:40%;
}
.other_choose{
    width: 74%;
    top:83.5%;
    position: absolute;
    margin: 0 13%;
}
.login_bg .other_choose a{
    display: block;
    float: left;
    border: 2px solid #505887;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
}
.other_choose a:nth-child(2) {
    left:42%;
}
.other_choose a:nth-child(3) {
    left:80%;
}
.other_choose a img{
    width: 60%;
    padding: 14% 0;
}
.regBox_a{
	text-align: center;
	display: block;
	color: #FFF;
	margin-top: 10%;
	font-size: 0.8rem;
	
}
/*注册*/
.arrow-left{
	background: url(img/arrow-left.png) no-repeat center center;
	text-indent: 3.5em;
	color: #e35750;
	font-weight: 500;
	position: absolute;
	top: 5px;
	left: -35px;
	font-size: 20px;
}
.bar .button-link{
	color: #e35750 !important;
}
.register_bg header{
	
}
.register_bg form{
	width: 90%;
}
.register_bg .regBox {
	margin-top: 2em;
}
.register_bg .regBox li {
	background: #fff;
	opacity: 0.75;
	border-radius: 5px;
	margin-bottom: 0.5em;
	padding: 3.5% 0 4% 3%;
	position: relative;
	line-height: 30px;
}
.register_bg .regBox li  i{
	width: 17px;
	text-align: center;
}
.register_bg .regBox li  input{
	border:transparent ;
	margin-left: 3%;
	width: 85%;
}
.register_bg .regBox li  input.message{
	width: 50%;
}
.register_bg .regBox li .code {
    background: #36c167;
    border-radius: 5px;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 0.875em;
    padding: 0 5%;
	height: 40px;
	line-height: 40px;
    position: absolute;
    top: 7px;
	right: 10px;
}
.agree {
    margin: 15px 0 20px ;
    text-align: left;
}
.agree, .agree a {
    color: #fff;
    font-size: 14px;
}
.agree input {
    float: left;
}
.agree div {
    margin-left: 20px;
    position: relative;
    top: -3px;
}
.register_btn{
	
}